<!-- 
 - Copyright (c) 2013 by Denis Bach, Marvin Kampf, Konstantin Tsysin, Taner Tunc, Florian Wittmann
 -
 - This file is part of the Software Forge Overlay rating application.
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU Affero General Public License as
 - published by the Free Software Foundation, either version 3 of the
 - License, or (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful, 
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU Affero General Public License for more details.
 -
 - You should have received a copy of the GNU Affero General Public
 - License along with this program. If not, see
 - <http://www.gnu.org/licenses/>.
 -->
@using SoftwareForge.Common.Models
@model SoftwareForge.Mvc.Models.CodeViewModel


@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.treeview.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/treeview.js")"></script>
            
    <script type="text/javascript">
        var ProjectGuid = "@Model.ProjectGuid";
    </script>
}


<p>@Html.ActionLink("[Project Details]", "ProjectDetailsPage", "TeamProjects", new { guid = Model.ProjectGuid }, null) - Code View - 
    @Html.ActionLink("[Bug View]", "WorkItemsView", "TeamProjects", new { guid = Model.ProjectGuid }, null) - 
    @Html.ActionLink("[Wiki View]", "WikiView", "Wiki", new { guid = Model.ProjectGuid }, null)

</p>




@using (Html.BeginForm("BranchChoosen", "TeamProjects", FormMethod.Post))
{
    <fieldset>
        <legend>Branch:</legend>
        @Html.DropDownList("branch", (IEnumerable<SelectListItem>)ViewBag.BranchList)
        @Html.Hidden("guid", Model.ProjectGuid)
        <p>
            <input type="submit" value="Show Branch" />
        </p>
    </fieldset>
    
    @Html.ActionLink("[Download Code]", "DownloadCode", "TeamProjects", new { guid = Model.ProjectGuid, Model.SelectedBranch }, null)
    <br/>
    
    
    <b>Files:</b><br/>
    <ul id="browser" class="filetree">
    @foreach (CompositeItem item in Model.Files)
    {
        if (item is FileItem)
        {
                        <li><span class="file" hidden="@item.GetPath()">@item.GetName()</span></li>
        }

        else if (item is FolderItem)
        {
             <li class="closed"><span class="folder">@item.GetName()</span>
                  @foreach (CompositeItem subItem in item.GetSubItems())
                  {
                       <ul>
                            @Parse(subItem)
                       </ul>
                  }
              </li>
        }
    }
    </ul>
}

@Html.Partial("CodePartial",new String[]{})


@helper Parse(CompositeItem item)
{
    if (item is FileItem)
    {
                    <li><span class="file" hidden="@item.GetPath()">@item.GetName()</span></li>
    }
    else if (item is FolderItem)
    {
                    <li class="closed"><span class="folder">@item.GetName()</span>
                        @foreach (CompositeItem subItem in item.GetSubItems())
                        {
                            <ul>
                                @Parse(subItem)
                            </ul>
                        }
                    </li>
    }
}



