<!-- 
    - Copyright (c) 2013 by Denis Bach, Marvin Kampf, Konstantin Tsysin, Taner Tunc, Florian Wittmann
    -
    - This file is part of the Software Forge Overlay rating application.
    -
    - This program is free software: you can redistribute it and/or modify
    - it under the terms of the GNU Affero General Public License as
    - published by the Free Software Foundation, either version 3 of the
    - License, or (at your option) any later version.
    -
    - This program is distributed in the hope that it will be useful, 
    - but WITHOUT ANY WARRANTY; without even the implied warranty of
    - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    - GNU Affero General Public License for more details.
    -
    - You should have received a copy of the GNU Affero General Public
    - License along with this program. If not, see
    - <http://www.gnu.org/licenses/>.
    -->
@model SoftwareForge.Common.Models.ProjectJoinRequest
@{
    ViewBag.Title = "Join project";
}

<h2>Join a project</h2>

@using (Html.BeginForm("PostProjectJoinRequest","TeamProjects", null)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Your join request</legend>
        @Html.HiddenFor(model => model.ProjectGuid)
        @Html.HiddenFor(model => model.UserId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <p>
            <input type="submit" value="Join" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List","Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
