<!-- 
 - Copyright (c) 2013 by Denis Bach, Marvin Kampf, Konstantin Tsysin, Taner Tunc, Florian Wittmann
 -
 - This file is part of the Software Forge Overlay rating application.
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU Affero General Public License as
 - published by the Free Software Foundation, either version 3 of the
 - License, or (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful, 
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU Affero General Public License for more details.
 -
 - You should have received a copy of the GNU Affero General Public
 - License along with this program. If not, see
 - <http://www.gnu.org/licenses/>.
 -->

@using SoftwareForge.Common.Models
@using SoftwareForge.Mvc.Models
@model WorkItemsViewModel




<p>@Html.ActionLink("[Project Details]", "ProjectDetailsPage", "TeamProjects", new { guid = Model.ProjectGuid }, null) - @Html.ActionLink("[Code View]", "CodeView", "TeamProjects", new {guid = Model.ProjectGuid}, null) - Bug View</p>
<p>@Html.ActionLink("[Create new bug]", "CreateBug", "TeamProjects", new { guid = Model.ProjectGuid }, null) </p>
<p>
   
    <table>
        <tr>
            <th>
                State
            </th>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
        </tr>
   

    @foreach (WorkItem workItem in Model.WorkItems) {
      
        <tr>
            <td>
                @if(workItem.State == "Bestätigt")
                {
                    <div class="redcircled"></div>
                }
        
                else if(workItem.State == "Fertig")
                { 
                    <div class="greencircled"></div>
                }
         
                else if (workItem.State == "Neu")
                {
                    <div class="yellowcircled"></div>
                }
         
                else
                {
                    <div class="greycircled"></div>
                }
            </td>
            <td>
                <text>@workItem.Id</text>
            </td>
            <td>
                <text>@workItem.Title</text>
            </td>
     
            
            

        </tr>
        
        
        
  
        
        
    }
         </table>
</p>
